body {
	background-color: transparent !important;
	font-family: Arial, Helvetica, sans-serif;
	color: white !important;
	font-size: 2em;
	/* display: none; */
	width: 99%;
	text-align: left;
	min-width: 30px;
}

.boldtext {
	font-weight: bold;
}

.center {
	text-align: center;
}

.redrum {
	font-style: red;
}	

.border1 {
	margin:100px;
	padding:20px;
	border:20px solid rgb(81, 79, 79);
	background-color: darkgrey;
}

html {
	background: rgb(255,0,0) no-repeat center center fixed; 
	background: -moz-linear-gradient(85deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 52%, rgba(255,0,0,1) 100%);
	background: -webkit-linear-gradient(85deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 52%, rgba(255,0,0,1) 100%);
	background: linear-gradient(85deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 52%, rgba(255,0,0,1) 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#ff0000",GradientType=1);
	overflow-y: scroll;
	overflow-x: none;
	/*margin-right: 10px;
	margin-left: 10px; */
	/* height: 100%; */
	
}

.indented_1 {
	margin-left: 25%;
	
}

*.logo_style {
	float: left;
	margin: 0;
	padding: 0 20px 0 10px;
	min-width: 500px;
}

.logo_style2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}


nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
	justify-content: center;
	width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.services {
	background-color: dark-gray;
	margin: 50px;
	color: black;
}

.small_img {
	height: 100%;
	width: 100%;
	max-height: 270px;
	max-width: 200px;
	margin: auto
}

.footer_logo {
    max-height: 100px;
    max-width: 100px;
    margin: auto;
    text-align: center;
}

.redbackground {

	background-color: red !important;
}

.redborder {

	border-color: red !important;
}

.right {
	float: right;
	margin: 0;
	padding: 0 20px 0 10px;
	min-width: 500px;
}