.background-style {
	background-image: url("/img/background1.jpg");
	background-size: cover; /* or contain depending on how you want it to display */
	background-position: center;
	background-repeat: no-repeat;
}

.carousel {
   display: flex;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   -webkit-overflow-scrolling: touch;
}

.carousel-item {
   flex: none;
   width: 100%;
   scroll-snap-align: start;
}

.carousel-item video {
   width: 100%;
   height: auto;
}